_notes
dwsync.xml
.project
.DS_Store
.htaccess
.settings
.settings/org.eclipse.core.resources.prefs
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/patriotpowergenerator.com.iml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/codeStyleSettings.xml
.idea/deployment.xml
.idea/food4patriots.com-v2.iml
