_notes
dwsync.xml
node_modules
.project
.DS_Store
.htaccess
.settings
.settings/org.eclipse.core.resources.prefs
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/patriotpowergenerator.com.iml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/codeStyleSettings.xml
.idea/deployment.xml
.idea/food4patriots.com-v2.iml
.idea/secure.food4patriots.com.iml 
.idea/jsLibraryMappings.xml

.idea/jsLibraryMappings.xml

checkout/protein/.idea/.name

.idea/jsLibraryMappings.xml

checkout/protein/.idea/misc.xml

checkout/protein/.idea/modules.xml

checkout/protein/.idea/protein.iml

checkout/protein/.idea/vcs.xml

.idea/jsLibraryMappings.xml

checkout/protein/.idea/workspace.xml
