<div class="b-johnson-box"><strong class="bigger">“I would definitely refer this to my mother, my father, my best friend, my
	pastor…”</strong><br>
	<br>
	“This is an awesome product…I would definitely refer [Food4Patriots] to my mother, my father, my best friend, my pastor. The food is great. The product is well wrapped. And I just can’t thank you enough about it. Awesome work you guys. God Bless You.”
	<br>
	<img id="anon04AudioControl" class="audioControl" style="float:left;" src="/assets/images/misc/speaker_off.gif" onclick="toggleAudio('anon04');">
	<div style="float: left;margin-bottom: 5px;"><audio id="anon04AudioSrc" src="/media/audio/f4p-testimonial-04.mp3" preload="auto"></audio></div>
	<div style="padding-top: 8px;padding-bottom: 5px;"><strong>-Satisfied Food4Patriots Customer </strong>- Click play to listen to this message… </div>
</div>