<div class="b-johnson-box"><strong class="bigger">“An excellent product for the price!” </strong><br>
    <br>“I usually make a “home latte” in the morning: heat the milk in the microwave and stir in the instant coffee. Then maybe another cup later, maybe not. I’ve got my stash of freeze-dried coffee from My Patriot Supply, and find that not only does it have a great flavor, it actually takes less than it says on the package to make a cup. An excellent product for the price!”<br>
    <br>
    <div style="padding-top: 8px;padding-bottom: 5px;"><strong>- Catherine</strong></div>
</div>