<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-loren.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Loren <em class="blurred">Hanover</em></b></h5>
                <span class="fb-group-date">February 9 at 8:22pm &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>Easy storage, compact, easy to load and move in an emergency, easy to prepare with minimum effort, and a complete meal with lots of calories. A good buy. </p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>