<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-karen.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Karen <em class="blurred">Greenfield</em></b></h5>
                <span class="fb-group-date">February 20 at 9:24am &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>When I brought your product, I was a little skeptical, as I had bought a small survival kit (1-week) about 10 years ago and the food in it was awful. When my order from you folks came, I went through it and was really impressed. I picked a dinner out of the bunch and fixed it for my mother and I that night. Totally impressed!!! The food was actually good!!! I looked through the books, looked at the “Lifestraw", and checked out the seeds…I’m a happy camper!!!! So happy in fact, I sent a 3-month supply to two of my grand daughters to get them started. Your whole program has impressed me and it old goes along with everything I feel and believe in. I feel more relaxed now since I know I have "survivability". Thanks a bunch for being there and doing what you do.</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>