<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-donna.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Donna <em class="blurred">Smith</em></b></h5>
                <span class="fb-group-date">Janurary 28 at 7:36am &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>…Just 2 weeks ago my husband, myself and our son, living here in Perris, California where Southern California Edison blew two transformers (faulty) and we were without power for 2 days. Doesn't sound like much.<br />
                Well, within 2 days our entire freezer (which we had just filled - [we] still had receipts from grocery store) was spoiled and rotten. No way to cook our food and only had canned beans as  backup.</p>
            <p>We were told by SCE that it was not “A PLANNED OUTAGE”, whatever that means, but faulty transformers which malfunctioned and they did to have a backup or reserve transformers to fix the problem… I even sent pictures and a detailed list of our food lost along with the store receipts. </p>
            <p>Their answer: ‘You can take us to small claims court.’ We are in a terrible bind. My husband has cancer, we have used all of our savings and retirement, we are 64 years old caring for our mentally ill son and we are in the middle of bankruptcy.<br />
                Now if you don’t think this can happen to you, you are wrong. We were sitting pretty 3 years ago and now at the mercy of the government…we can’t get help, no food stamps, non medical, to help whatsoever. </p>
            <p>Yes, this can happen to ordinary people.</p>
            <p>This just took 2 days to wipe us out. So I want to say thank you for your help… you have to help yourself and be prepared. Thank you Food4Patriots, no sure what we would have done without you, but now feel a little better just knowing we can get through the next crisis. </p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>