<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-wanda.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Wanda <em class="blurred">Robertson</em></b></h5>
                <span class="fb-group-date">February 15 at 10:42am &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>I was always stockpiling food for emergencies, and other items as well as food... I have thrown away so much food, jst because it's expired and I haven't been able to get to it. When this came along I thought, 25-year lifespan! Wow!</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>