<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-rom.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Rom <em class="blurred">Parkiness</em></b></h5>
                <span class="fb-group-date">March 17 at 1:47pm &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>Great products! I'm very please with the deluxe Food4Patriots kits. It was put together with all the right things in mind. Healthy nutritious food and other essential survival items with a 25+ year shelf life, small storage footprint, nice hard storage case that is portable in case we need to be on the move fast and great support tools and materials. Thanks again for what you do!</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>