<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-chloe.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Chloe <em class="blurred">Smothers</em></b></h5>
                <span class="fb-group-date">March 2 at 1:12pm &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>Doesn't taste like survivial food! Wow! We tried the cheesy rice as a "taste test" and we were blown away by its deliciousness! We love the fact it's packaged in such a way that it doesn't look like survival food, either. We have it tucked away (thanks to the compact stackable totes) and have peace of mind knowing it's there, if and when we need it!</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>