<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-brian.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Brian <em class="blurred">Barankis</em></b></h5>
                <span class="fb-group-date">March 7 at 6:42am &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>I like the portability, ease of storage, product longevity, and the taste isn't bad either. A great way to start building a strong and tasty emergency food storage system. This is the best way to go. The pricing is good to. The old adage about you get what you pay for.. with this system you get far more and better than expected for what you pay.</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>