<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-bob.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Bob <em class="blurred">Sanders</em></b></h5>
                <span class="fb-group-date">January 5 at 6:32am &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>I was really excited when I received my box of 3 month food. When I opened it I saw 2 tubs packed full of dehydrated food I had to look at everything. I was surprised how big the portions were! I know when I ordered you said that these were adult size portions, but I was very pleased with getting more than I thought was an adult portion.</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>