<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-jan.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Jan <em class="blurred">Smithland</em></b></h5>
                <span class="fb-group-date">March 28 at 8:31am &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>The life expectancy of your product is what attracted me. Now that my first order has arrived, I like the fact that the package, once I moved the label to the inside of the lid, doesn't scream "food storage" to unwelcome/prying eyes. I have been concerned about stocking up with foodstuffs that wouldn't last more than two to four years. This cuts down on bulk greatly, too. The only thing that would prevent me from recommending this to a friend would be that I don't want my ‘friends’ to know that I have it! My hope is that we never need to worry about surviving through hard times, but it certainly isn't looking good for the USA or the world right now.</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>