<div class="mock-outer ">
    <div class="mock-inner">
        <div class="fb-group-picrow">
            <img src="/media/images/misc/testimonials/img-testimonial-paula.jpg">
            <div class="fb-group-text">
                <h5 class="fbh5"><b>Paula <em class="blurred">Strivers</em></b></h5>
                <span class="fb-group-date">April 1 at 4:53pm &#183; <i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="usertext">
            <p>Best Ever! It’s best because it’s freeze-dried… I used to order pre-made emergency food, and then discard it after 5+ years. Generous meal size. Arrives in lift-able tote boxes. I’m very happy with all of it. Thank you!!!</p>
        </div>
        <div class="mock-title-cap-text">Like &#183; Comment &#183; Share</div>
    </div>
</div>