<div class="b-johnson-box"><strong class="bigger">“The most important thing is your food tastes great!” </strong><br>
    <br>“Hello Frank – this is Rolf K. and I am one of your very happy customers. The most important thing is your food tastes great. I’ve tasted 2 out of the 4 entrées in one of the small packages and I now have a tub and three other small packages set away…and am feeling pretty good about it. Keep up the good work!”<br>
    <br>
    <img id="rolfAudioControl" class="audioControl" style="float:left;" src="/assets/images/misc/speaker_off.gif" onclick="toggleAudio('rolf');">
    <div style="float: left;margin-bottom: 5px;"><audio id="rolfAudioSrc" src="/media/audio/f4p-testimonial-06.mp3" preload="auto"></audio></div>
    <div style="padding-top: 8px;padding-bottom: 5px;"><strong>-Rolf K</strong> - Click play to listen to Rolf&rsquo;s message…</div>
</div>