<div class="b-johnson-box"><strong class="bigger">“It really was better tasting then the name brands from the food store.” </strong><br>
    <br>“I got a trial pack of Patriot coffee and Tried the pack when I was out of regular coffee during the holidays and it was great. Made it by the pot full and served it to others visiting and they had know idea it was instant. One of them actually said it was the best cup of Joe they had had and wanted to know the brand. I just said a specialty brand at the time but since then gave up the truth. I will buy more for my stock up and daily use when drip is not available. It really was better tasting then the name brands from the food store. Thanks.”<br>
    <br>
    <div style="padding-top: 8px;padding-bottom: 5px;"><strong>- Susan</strong></div>
</div>