<div class="b-johnson-box"><strong class="bigger">“Twenty-five year life span! Wow!” </strong><br>
	<br>
	“I was always stockpiling food for emergencies, and other items as well as food…I have thrown away so much food, just because it's expired and I haven't been able to get to it.  When this came along I thought, twenty-five year life span! Wow! … <br>
	<br>
    <img id="wandaAudioControl" class="audioControl" style="float:left;" src="/assets/images/misc/speaker_off.gif" onclick="toggleAudio('wanda');">
	They keep in touch with you.  You get your emails, you get your confirmations, and then you can track your shipment.  It just came so quick.  It came right when they said it would come.”   <br><br>
	<div style="float: left;margin-bottom: 5px;"><audio id="wandaAudioSrc" src="/media/audio/f4p-testimonial-wanda-01.mp3" preload="auto"></audio></div>
	<div style="padding-top: 8px;padding-bottom: 5px;"><strong>-Wanda</strong> - Click play to listen to Wanda’s message…</div>

</div>