<!-- start of section 1 -->
<section class="section dots-top">
	<div class="section-inner">
		<span class="head-dots"></span>
		<!-- start of block white -->
		<div class="white-bg">
			<div class="section1-header">
				<h2 class="dark-red">&quot;A Letter From The Feds That Chilled Me To The Bone...&quot;</h2>
				<p class="section-description">Not too long ago, FEMA went directly to my supplier and tried to buy up my entire stockpile of high-quality survival food. It sounds crazy, but I'll show you the exact letter they sent in a minute.</p>
				<p></p>
				<p>Revealing FEMA's plot could land me in hot water, but I think  <strong>you deserve to know exactly what they're doing.</strong></p>
				<p>Sounds fair, right?</p>
				<p>I'm about to show you undeniable proof that FEMA is on the hunt for as much survival food as they can grab in 24 hours.</p>
			</div>
			<div class="padding-all pad-bottom">
				<img data-src="/media/images/f4p/letter/f4p-letter-fema.jpg" src="/media/images/f4p/letter/blank.gif" width="320" height="241" class="media lazy has-bg right">
				<p><strong>&quot;I've got to tell you - it's really disturbing.&quot; </strong></p>
				<p>You can imagine that FEMA was willing to pay a pretty penny; the kind of money small businesses dream about in an economy like this. Money that would probably come with a nice, fat government contract.</p>
				<p><strong>The fact is - they must know something we don't.</strong></p>
				<p>My first thought was that they must be trying to control the supply. Control the food supply and you control the people. I mean, it worked for Stalin and Mao, right? Why not Obama?</p>
				<p><i>But then I dug deeper and I think the situation is even worse. </i></p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>

		<!-- start of brown block -->
		<div class="brown-bg">
			<div class="block-header-brown"><!-- 0 padding on bottom -->
				<h3 class="color-red">&quot;I Have Proof... They Know Something We Don’t&quot;</h3>
			</div>
			<div class="inner block-header-brown"><!-- 0 padding on bottom -->
				<img data-src="/media/images/f4p/letter/f4p-letter-president1.jpg" src="/media/images/f4p/letter/blank.gif" width="336" height="208" class="media lazy right">
				<p>I think that FEMA knows something we don't and is worried that they see a full-scale disaster about to hit. And I think I found the factors that will trigger it.</p>
				<p>Before I talk about these warning signs, you need to see the actual letter FEMA sent my supplier so <strong>you can see the proof with your own eyes and make up your own mind.</strong></p>
				<p>It's been all over the Internet. Facebook and even some big radio programs like Alex Jones picked up this story. It seems like everyone is just plain shocked that FEMA would send a letter like this.</p>
				<p><strong>Here's what happened:</strong> FEMA wrote to my partner, Matt, over at the warehouse and wanted to know exactly how many.. Well, maybe I should just let Matt show you the proof since he was the one who received the letter...</p>
				<div class="text-center">
					<img data-src="/media/images/f4p/letter/f4p-letter-fema-letter-1.jpg" src="/media/images/f4p/letter/blank.gif" width="500" height="443" alt="FEMA letter" class="img-responsive lazy center-block">
				</div>
				<p style="text-align: center;" class="caption">100% Genuine letter from FEMA... demanding to know how much<br class="hidden-sm hidden-xs"> food we can ship and how fast!</p>
				<div class="blockquote-1">
					<p>"Thanks Frank. Well, it was kind of crazy to get a letter from FEMA. I don't mean to sound paranoid, but FEMA is asking some questions that make me pretty nervous.</p>
					<p>The FEMA and the Department of Homeland Security demanded to know</p>
					<ul style="font-style: italic; padding-top: 15px; margin-left: 20px">
						<li><strong>How much</strong> of emergency food we can deliver immediately.</li>
						<li><strong>How many</strong> food kits we&rsquo;ve got on hand...  (With the government&rsquo;s power to seize supplies in a quote &ldquo;state of emergency&rdquo;, I don&rsquo;t think I want to answer this)</li>
						<li><strong>If we can ship</strong> dedicated truckloads <em>(that means a truck heading straight for FEMA with nothing but survival food just for them)</em> by the pallet – and how many pallets we could cram in each truck</li>
					</ul>
					<p>And the strangest question of all – if we worked like mad men, <strong>how much emergency food could we produce in 24 hours...</strong></p>
					<br><br>
					<p>I gotta tell you, Frank, I'm real concerned. This letter is proof that FEMA wants our emergency survival food. They don't want anyone to know it, and they want to take immediate delivery.</p>
					<br><br>
					<p>And let's not forget the most important part of this - why the sudden urgency? What do they know that we don't?”</p>
				</div>
				<p></p>
				<p>I hear you, Matt. From the sounds of it, something big is about to happen and it's no wonder that our food is literally flying off the shelves. It makes sense, doesn't it? </p>
				<div class="dots-snake">
					<div class="dots-img">1</div>
				</div>
				<h3 class="color-red pad-30-b" style="text-align: right;">&quot;You Should Know That FEMA Won’t Get <br>1 Single Emergency Food Kit From Us.&quot;</h3>
				<img style="" data-src="/media/images/f4p/letter/f4p-letter-section1-block2-img2.png" src="/media/images/f4p/letter/blank.gif" width="423" height="472" class="media-contain lazy left img-responsive">
				<p>This is truly an urgent situation, but don't worry - you should know that <strong>FEMA and Homeland Security won't get one single emergency food kit from us.</strong></p>
				<p>Why?</p>
				<p>Because we don&rsquo;t believe that these critical emergency food kits should be in the hands of the government, <strong>stored in some secret warehouse and with the rest of us left with table scraps in a crisis.</strong></p>
				<p>Because we understand that without this food many patriots will be <strong>downright helpless in a disaster.</strong></p>
				<p>Because our goal is to <strong>get this life-saving food into the hands of people like you</strong> and me as quick as possible.</p>
				<p>Sounds good, right?</p>
				<p>But with FEMA competing for the exact meals you are, there's no time to waste, and here's why:</p>
				<p>Like my buddy Matt told me, even though we decided not to sell to FEMA, <i>it's only a matter of time before they find some other company who will.</i></p>
				<p>And when they do, it will almost certainly create a shortage of the raw ingredients that we use for our kits, especially because we refuse to replace our high-quality made-in-America food ingredients with foreign stuff, raising prices and making survival food completely unavailable at any price.</p>

				<h3 class="color-red pad-30-t-b">&quot;But That's Not The Only Danger That Could <br>Snatch Your Food Stockpile Out Of Your Hands.&quot;</h3>
				<p>Heck, we've had a rush of people taking advantage of our special "Fire Sale" offer to grab their food kits to protect their family.</p>
				<p>Now to be blunt, this is a first-come-first-serve opportunity and <strong>because of all the controversy, I cannot guarantee supply forever.</strong></p>
				<p>Which means if we run out before you have a chance to claim your kit, I'm sorry, but you'll just have to wait and hope we can get more in before something really bad hits.</p>

				<h3 class="color-red pad-30-t-b text-center">&quot;Frankly, I Was Startled By The Staggering Demand&quot;</h3>
				<p>Over the last few weeks, my warehouse has been shipping out more truckloads of food packed to the brim than I've ever seen. Which is great if you've already put your order in.</p>
				<div class="media-contain right full-right text-center">
					<img data-src="/media/images/f4p/letter/f4p-letter-truck.jpg" src="/media/images/f4p/letter/blank.gif" width="500" height="318" class="img-responsive lazy">
					<div class="caption">Our trucks are packed to the brim and shipping<br class="hidden-sm hidden-xs"> more survival food than ever before!</div>
				</div>
				<p>But the bad news is, if you're just hearing about these food kits for the first time, then you're already behind the 8-ball and need to act fast before they're all gone.</p>
				<p>Fortunately, as soon as FEMA said they wanted to take all my food, I put in an extra-large order for more food in anticipation of whatever the government is so urgently preparing for.</p>
				<p>So depending on how much food you need, you can get my Food4Patriots kits for as low as $1.11 per serving.</p>
				<div class="media-contain left full-left text-center">
					<img data-src="/media/images/f4p/letter/f4p-letter-production-line.jpg" src="/media/images/f4p/letter/blank.gif" width="500" height="318" class="img-responsive lazy">
					<div class="caption">Our production facility is working around the clock right now to<br class="hidden-sm hidden-xs"> meet the increased demand. </div>
				</div>
				<p>And we're doing everything we can to accelerate packing and shipping so we can rush your kit to you as soon as you order it.</p>
				<p>I'm going to keep doing this as long as I can. I hope we can help patriots all across the United States feel protected in case of disaster for years to come.</p>
				<div class="clear"></div>
			</div>
		</div>

		<!-- start of white block -->
		<div class="block bg-white">
			<div class="block-header-blue"><!-- 20 margin on top -->
				<h3 class="color-blue" style="text-align: right;">&quot;But Here's Why This Fire Sale Could End <br>In A Matter Of Days...&quot;</h3>
			</div>
			<div class="padding-all">
				<img data-src="/media/images/f4p/letter/f4p-letter-empty-shelves.jpg" src="/media/images/f4p/letter/blank.gif" width="288" height="239" class="media lazy has-bg left full-left" style="margin-bottom:10px;">
				<p>First, Matt could run out of the raw ingredients needed to get these kits produced.</p>
				<p>I'd be shocked if FEMA stopped looking for suppliers just because we turned them down. And there are companies a whole lot bigger than us that can buy up all the ingredients.</p>
				<p>Second, and I hope the government never gets to this point, part of me thinks that FEMA might have wanted to know how much food we've got in stock in case they ever decided to take it!</p>

				<h3 class="color-red pad-40-t pad-30-b">&quot;With A Stroke Of Obama’s Pen, Food Confiscation Could<br class="hidden-sm hidden-xs"> Start… Tomorrow!&quot;</h3>
				<p>The fact is they could walk in and seize every single kit of food we've got in our warehouse at the drop of a hat.</p>
				<p>All it would take is President Obama declaring a "state of emergency". </p>
				<div class="media-contain right full-right text-center">
					<img data-src="/media/images/f4p/letter/f4p-letter-obama-02.jpg" src="/media/images/f4p/letter/blank.gif" width="438" height="239" class="img-responsive lazy">
					<div class="caption">That’s right...Obama can seize your<br class="hidden-sm hidden-xs"> food with the stroke of his pen.</div>
				</div>
				<p>The actual term for this “legal confiscation” is the <strong>“National Defense Resources Preparedness Act.”</strong> All he needs is his phone and his pen and food confiscation could begin…tomorrow.</p>
				<p>But the real thing that keeps me up most nights?  <i>It’s the way FEMA wanted to know how many meals we could ship out in 24 hours.</i></p>
				<p>It makes me think they know something that we don't…and it could happen soon.</p>
				<p>That brings us to the third reason this offer could grind to a halt. </p>
				<p></p>

				<h3 class="color-red pad-30-t-b" style="text-align: right;">&quot;If You Don’t Prepare, The Horror Of A FEMA Camp<br class="hidden-sm hidden-xs"> Could Be In Your Future...&quot;</h3>
				<p>I can't tell the future, but from everything I've seen, the U.S. could be on the brink of a major disaster. If I'm wrong, life will go on like normal, and I'll happily admit that I was off my rocker.</p>
				<div class="media-contain left full-left text-center">
					<img data-src="/media/images/f4p/letter/f4p-letter-fema-camp.jpg" src="/media/images/f4p/letter/blank.gif" width="428" height="239" class="img-responsive lazy">
					<div class="caption">FEMA camps are breeding grounds for<br class="hidden-sm hidden-xs"> filthy conditions and violent crime!</div>
				</div>
				<p>But if I'm right, this could force our friends and neighbors into FEMA camps. And you probably already know a FEMA camp isn’t anywhere you’d want you or your family to end up.</p>
				<p>They make an old-style Soviet gulag sound like a day at the beach.</p>
				<p>Think I’m kidding? Just imagine the bleak living conditions folks had to endure in one of those Godforsaken places after Hurricane Katrina and Superstorm Sandy.</p>
				<p>Things like:</p>
				<ul style="margin-left: 20px">
					<li>Bitter cold or blistering heat from living in a tent with no insulation...</li>
					<li>Inadequate food… (just think about those New Yorkers dumpster diving for food after Superstorm Sandy...rifling through disgusting TRASH, scraping off bugs and dirt, just to find anything remotely edible! And that was only three days after the storm!)</li>
					<li>Crime, from robbery to assault to rape and worse... (remember those first few days post-Katrina? Even the police were afraid to be out on the street!)</li>
					<li>The Feds refusing to let folks return to their homes or even leave and FEMA agents in your personal business, watching your every move. It would feel like you’re in prison…just for the crime of being unprepared!</li>
				</ul>
				<p>The media will be turned away, forbidden from filming inside the camps.</p>
				<div class="media-contain right full-right text-center">
					<img data-src="/media/images/f4p/letter/f4p-letter-handcuffed-man.jpg" src="/media/images/f4p/letter/blank.gif" width="428" height="237" class="img-responsive lazy">
					<div class="caption">Don’t even think about resisting, or you’ll be<br class="hidden-sm hidden-xs"> silenced…your property taken…or even worse… </div>
				</div>
				<p>And if YOU tried to show the world a glimpse of the hell you were living through inside? They’ll outright just take your phone or other mobile devices!</p>
				<p>No warning, questions, or giving back your confiscated property.</p>
				<p>And the list goes on. You want to avoid that kind of nightmare, right? Of course you do...</p>
				<p>Now let’s talk about some basic facts.</p>

				<h3 class="color-red pad-30-t-b">&quot;Obama Knows: Control the Food Supply, Control the People...&quot;</h3>
				<p>Just like governments have understood for centuries, if you control the food supply, you control the people.</p>
				<p>After all, there's no way to live without food and water, which is exactly why you need to have your own personal food stockpile.</p>
				<span style="color: #000" class="more"><i>But here's the catch...</i><span class="dots-down"></span></span>
				<p></p>
				<div class="clear"></div>
			</div>
		</div>

		<!-- start of white block -->
		<div class="block flat-brown">
			<h3 class="color-red pad-30 pad-60-t" style="text-align: center;">&quot;If You Stockpile The Wrong Foods You Could Be Setting<br class="hidden-sm hidden-xs"> Up Your Family To Starve&quot; </h3>
			<div class="padding-all">
				<p>It sounds harsh, but the truth is most people are giving themselves a false sense of security. </p>
				<p>Maybe it's by...</p>
				<ul style="margin-left: 20px">
					<li><strong>Buying terrible-tasting MREs.</strong> Depending on where you buy them from, they could be nearly expired. </li>
					<li><strong>Getting disgusting so-called “survival” foods</strong> that are packed with cheap fillers and are high in salt, MSG and preservatives.</li>
				</ul>
				<p>Remember that guy that ate nothing but McDonald’s every meal for a month straight? He started off healthy and by the time it was over, he was nearly ready to keel over! </p>
				<p>The bottom line is if you make any of the million-and-one mistakes while you're designing your food stockpile, your family won't just pay for it with unhealthy eating. </p>
				<p><strong>It can cripple their hope.</strong></p>
				<p>Imagine you've got an entire stockpile of food you think will feed your family just fine in a crisis.</p>
				<p>How would you feel to find it crawling with maggots, roaches, and rats when you need it?</p>
				<p>Or that your canned goods are expired and infected with deadly bacteria like botulism?</p>
				<div class="media-contain right full-right text-center">
					<img src="/media/images/f4p/letter/f4p-letter-canfood-maggots.jpg" width="426" height="237" class="img-responsive">
					<div class="caption">How’d you like to be starving, only to open a can of…BUGS!<br class="hidden-sm hidden-xs"> This happens ALL THE TIME and can happen to you</div>
				</div>
				<p>Your survival plan would be ruined, and you’d have to tell your starving family:</p>
				<p><i>“There’s nothing to eat.”</i></p>
				<p>That’d feel pretty awful, wouldn’t it? By then, your only choice would be starvation… or a dreaded government-run FEMA camp.</p>
				<p>And like Ronald Reagan once said… the 10 most terrifying words you’ll ever hear are:</p>
				<p><i>“I’m from the government, and I’m here to help you.”</i></p>
				<p>And there’s something else to consider.</p><p></p>

				<h3 class="color-red pad-30-b" style="text-align: right">&quot;Total Anarchy When 47 Million Freeloaders Can’t<br class="hidden-sm hidden-xs"> Get Their Government Handouts!&quot;</h3>
				<p>Under Obama, the number of Americans on the government dole has increased from around a little over 27 million in 2008 to <strong>47 million</strong> today – that’s just about 15% of the whole damn country! </p>
				<p>They don’t call him the “Food Stamp President” for nothing! Now, of course you and I were raised to help others in need.</p>
				<p>The difference was, people had pride back then… they wanted gainful employment, the ability to go to work each day, and make enough to feed and clothe their families and put a roof over their head.</p>
				<p><i>Nowadays it’s an entirely different story.</i></p>
				<p>We’ve all heard of “The Greatest Generation” (this was my Dad and his buddies), The Baby Boomers, Generation X, …but now, we have to contend with “Generation Entitlement.”</p>
				<p>And folks, it really doesn’t have much to do with age. It’s a mindset.</p>
				<p><strong>It’s the belief that the country owes you a living for just existing and breathing air.</strong></p>
				<p>Just like that surfer that made the news in California, living it up on YOUR taxpayer dime, buying LOBSTER with his food stamp card and proud of the fact he’s a good-for-nothing bum! </p>
				<p>He’d much rather play “rock star” than get a job and earn a respectable living, like other hard-working Americans. It’s losers like him that really get my blood boiling. Just look at him!</p>
				<div class="media-contain left full-left text-center">
					<img src="/media/images/f4p/letter/f4p-letter-welfare-troll.jpg" width="422" height="237" class="img-responsive">
					<div class="caption">This bum thinks you should foot his<br class="hidden-sm hidden-xs"> grocery bill…so he can play “rock star!”</div>
				</div>
				<p>These are the kind of people that my Grandpa used to say “always want something for nothing.”</p>
				<p>And our socialist-in-chief and his minions are all too happy to provide it… because it keeps them and their kind in power, election after election.</p>
				<p><strong>Which brings me to my next point...</strong></p>
				<p>What do you think’s going to happen when the real crap hits the industrial-sized fan, and 47 million people, or one-sixth of the population, can’t get their handouts?</p>
				<div class="clear"></div>
			</div>
		</div>

		<!-- start of blue block with flag -->
		<div class="block bg-blue bg-flag">
			<h3 class="color-blue medium-size700 pad-30-t-b " style="text-align: center;">&quot;It’s Not IF Disaster Strikes… It’s WHEN.&quot;</h3>
			<div class="inner medium-size pad-30-b">
				<p>When a disaster hits and FEMA completely drops the ball (as usual!), it could spark riots and looting just like Katrina… except this time on an explosive, massive scale.</p>
				<p>It can be a crisis from crazy weather that produces monster storms...</p>
				<p>A terrorist attack on our crumbling power grid...</p>
				<p>Another outbreak of Ebola, this time causing a nationwide pandemic… (remember that even healthcare workers in hazmat suits got infected, folks!)</p>
				<p>...or any other kind of hellish scenario.</p>
				<p>There’s no way to tell when it will hit. But it IS coming.</p>
				<p>Heck, we’ve already seen a record amount of violence and looting this year… and we aren’t even in a full on crisis… YET!</p>
				<div style="padding-bottom: 10px" ">
				<img src="/media/images/f4p/letter/f4p-letter-looters.jpg" class="img-responsive center-block" width="422" height="237" />
			</div>
			<p style="text-align: center;" class="caption">Looters would be rampant… just like Ferguson or Baltimore...</p>
			<p>Which is why I want you to really think about this...</p>
			<p>Think about the disaster footage you’re seeing on the news these days, pretty much 24/7.</p>
			<p><strong>How long before the disaster is at YOUR front door?</strong></p>
			<p>Hordes of desperate people roaming the streets of YOUR town. Grocery stores picked over and shelves stripped bare.</p>
			<p>Get the picture?</p>
			<p>Because this is the reality we are looking at when the next big crisis happens.</p>
			<p>At no time in history have we had so many people as dependent on government as we do today. It’s a ticking time bomb… 47 million people strong.</p>
			<p>Do I really have your attention now?</p>
			<div class="clear"></div>
		</div>
	</div>
	<!-- start of flat brown block -->
	<div class="block flat-brown">
		<h3 class="color-red pad-30 text-center">&quot;There’s Not A Second to Waste...&quot;</h3>
		<div class="padding-no-top">
			<p>It’s painfully obvious you’ve got to act… and fast… if you’re going to protect your loved ones from toxic hunger and food riots in a full-blown crisis that last days, weeks, or even longer.</p>
			<p>I’ve made it my personal mission to help as many true American Patriots become as “food independent” as possible, so we never have to be at the mercy of some Federal bureaucrat, standing in line to beg for whatever rations the Obama regime sees fit to dole out.</p>
			<p>So this is what I did…</p>
			<h3 class="color-red pad-30 text-center">&quot;I Decided to Stop Worrying&quot;</h3>
			<p>My partner Matt and I put together our own survival food kit containing only cream of the crop food, made 100% in the U.S.A.</p>
			<p>I wanted only the absolutely best tasting meals that provided the most nutrition for breakfast, lunch, and dinner and that were useful for the long haul.</p>
			<p>That means they had to be conveniently packed in airtight containers that would be easy to conceal, move and store for more than just a couple of years.</p>
			<p>I’m talking decades, folks.</p>
			<div><img src="/media/images/f4p/letter/f4p-letter-kit-tote-01.jpg" width="868" height="550" style="margin-top: -50px" class="img-responsive center-block"  alt="Food4Patriots Kit"/></div>
			<p style="text-align: center;" class="caption">Our packaging ensures our food stays fresh and delicious for<br class="hidden-sm hidden-xs"> decades – guaranteed for 25 years!</p>
			<p>After months of work and research, we finally cooked up our first batch, and I knew we had something nobody else did: American-made food that I'd be happy to feed my own kids and grandkids.</p>
			<p>The food was delicious, easy to store long-term, and best of all, it was packaged right here in the U.S. of A.</p>
			<p>That’s why we decided to call it Food4Patriots!</p>
			<p>Plus, it didn't have any of those harmful chemicals or genetically modified ingredients, no MSG, and no mystery “Frankenfood.”</p>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</div>
</section>
<script>

		$(".lazy").unveil(600, function() {
			console.log('animate');
			$(this).animate({ opacity: 1 }, 300);
		});

</script>