@charset "UTF-8";
@import "defaults.css";
@import "typography.css";
@import "colorbox.css";


.mobile{display: none;}

.inner {
    display: block;
    float: none;
    clear: both;
}
.media.left, .media.right{margin-bottom: 10px;}

.media.left{float: left; margin-right: 30px;}
.media.right{float: right; margin-left: 30px;}

.inner p, .inner ul {
	zoom: 1;
	overflow: hidden;
}
.inner p{padding-bottom: 1.5em; margin: 0;}


p.section-description{margin: 0;}

.full-left{margin-left: -30px;}
.full-right{margin-right: -30px;}

div.media{min-width: 450px;}

.txt-center{text-align: center;}

/* =============================================================================
   reusable
   ========================================================================== */
.grad-white-brown{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);	
}
.grad-brown-light{
	background: rgb(238,233,219);
	background: -moz-linear-gradient(top,  rgba(238,233,219,1) 0%, rgba(246,243,236,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,233,219,1)), color-stop(100%,rgba(246,243,236,1)));
	background: -webkit-linear-gradient(top,  rgba(238,233,219,1) 0%,rgba(246,243,236,1) 100%);
	background: -o-linear-gradient(top,  rgba(238,233,219,1) 0%,rgba(246,243,236,1) 100%);
	background: -ms-linear-gradient(top,  rgba(238,233,219,1) 0%,rgba(246,243,236,1) 100%);
	background: linear-gradient(to bottom,  rgba(238,233,219,1) 0%,rgba(246,243,236,1) 100%);
}
.grad-red{
	background: rgb(191,0,0);
	background: -moz-linear-gradient(top,  rgba(191,0,0,1) 0%, rgba(178,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,0,0,1)), color-stop(100%,rgba(178,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(191,0,0,1) 0%,rgba(178,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(191,0,0,1) 0%,rgba(178,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(191,0,0,1) 0%,rgba(178,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(191,0,0,1) 0%,rgba(178,0,0,1) 100%);	
}
.bg-light{background-color: #ececec; border-bottom: 1px solid #e0e0e0;}
.bg-light-dark{background-color: #e9e9e9;}

.bg-blue{
	background-color: #cdd4dc;
}
.bg-flag{
	background-image: url(../images/bgs/block-flag.png);
	background-position: 0 0;
	background-repeat: no-repeat;	
}

.block-head.grad-white-brown{border-bottom: 1px solid #eae7e7;}

.block.has-bot-dots{position: relative;}

.block.bg-white{border-bottom: 1px solid #e9e9e9;}
.block.grad-brown-light{border-bottom: 1px solid #e1dfd9;}
.block.flat-brown{background-color: #f6f3ec;}
.block.flat-brown.dark{background-color: #eceae5!important; border-top: 1px solid #e0dddd;}

.grad-white-brown .section-description{color: #454545;}
.media-description{color: #454545; font-size: 13px; margin-top: 15px;}

h2, h3{position: relative; z-index: 100;}
p{position: relative; z-index: 100;}

.dots-snake{position: relative; height: 80px; width: 100%; overflow: visible; z-index: 1;}
	.dots-snake.small-gap{height: 15px;}
	.dots-snake .dots-img{
		background-image: url(../images/dots-snake.png);
		background-position: center;
		background-repeat: no-repeat;
		height: 315px;
		width: 100%;
		top: -94px;
		position: absolute;
		text-indent: -5000px;
	}	
	.dots-snake .dots-img2{
		background-image: url(../images/dots-snake2.png);
		background-position: center;
		background-repeat: no-repeat;
		height: 315px;
		width: 100%;
		top: -98px;
		left: 100px;
		position: absolute;
		text-indent: -5000px;
	}



/*media bgs*/
	/*media is right*/
	.media.has-bg.right{
		padding-top: 1px;
		padding-left: 10px;
		
		background-image: url(../images/bgs/media-right-bg.png);
		background-position: 0 0;
		background-repeat: no-repeat;	
	}
	.media.has-bg.small.right{background-image: url(../images/bgs/media-right-bg-small.png);}
	
	.medium-size .media.small{width: 305px; text-align: center; min-width: inherit!important;}
	
	/*media is left*/
	.media.has-bg.left{
		padding-top: 1px;
		padding-right: 10px;
		
		background-image: url(../images/bgs/media-left-bg.png);
		background-position: 100% 0;
		background-repeat: no-repeat;	
	}

.block-head .section-description{margin-top: 20px;}

.watch-vid, .more{font-size: 20px; font-family: 'Oswald', sans-serif; font-weight: 700; position: relative; padding-bottom: 40px; display: inline-block; color: #d01f22; zoom: 1; *display: block;}
.more{padding-bottom: 0;}


.dots-down{
	right: -100px;
	bottom: -85px;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../images/dots-down.png);
	width: 84px;
	height: 88px;
	display: block;	
}
.dots-arrow{
	left: -60px;
	bottom: -5px;
	position: absolute;
	background-image: url(../images/dots-arrow.png);
	width: 136px;
	height: 32px;
	display: block;	
}

.dots-down-section{
	left: 52%;
	bottom: -45px;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../images/dots-down2.png);
	width: 84px;
	height: 88px;
	display: block;
	z-index: 1000;
}
.dots-down-section.blue{background-image: url(../images/dots-down4.png)!important;}
.dots-down-section.brown{background-image: url(../images/dots-down3.png)!important;}
.dots-down-section.red{background-image: url(../images/dots-down5.png)!important;}

.small.gray{
	font-size: 13px;
	color: #454545;
	display: inline-block;
	line-height: 15px!important;	
}

.old-price, .price{display: block;}
.old-price{text-decoration: line-through; font-size: 20px; color: #454545;}
.price{font-weight: 900; font-size: 31px; margin-bottom: 15px;}

.dots-right .dots-down-section{left: 60%!important;}
.left-30 .dots-down-section{left: 30%!important;}
/* =============================================================================
   layout
   ========================================================================== */
body{background-color: #001d4b;}

#head{
	overflow: hidden;
}

#footer{
	position:relative;
}


.section{
	background-image: url(../images/bgs/section-start.png);
	background-position: center 16px;
	background-repeat: no-repeat;
}
.section-inner{width: 996px;
	margin: 0 auto;
}


.section.full-width .section-inner{
	width: 100%;
	padding: 0;
	background: none;	
}
.full-width .bg-flag{
	background-image: url(../images/bgs/block-flag-large.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.section-inner{
	background-color: #fff;	
	*width: 996px;
}

/* =============================================================================
   head
   ========================================================================== */
.absolute-flag{
	top: 0px;
	left: 75px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 0;
}   
   
   
#head.has-absolute-img .call-us{
	margin-right: 250px;		
}
#head{margin-bottom: 35px;}

.holder{width: 996px; margin: 0 auto; position: relative;}
.absolute-img{position: absolute; top: -500px; right: -10px;}

  
.content, .content-left, .content-right{line-height: 22px;}
#head{position: relative; background-color: #fff;}

.head-top{
	padding: 10px 0;
	background-color: #e2e6eb;	
}
.call-us{text-align: right; font-size: 20px; font-weight: 600; color: #001d4b;}

.head-mid{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
	background-color: #bf0000;
	color: #fff;	
	padding: 10px 0 13px;
}
.head-mid span{display: block; font-size: 20px; font-weight: 600!important; line-height: 30px; font-family: 'Open Sans'; text-transform: none;}
.head-mid h1{text-transform: uppercase; margin-top: 6px; font-weight: 900;}
.head-bot{border-bottom: 1px solid #bac1ca; background-color: #e5e9ed; padding-top: 20px;}

.head-bot .semi-bold{font-weight: 600; font-size: 20px;}

.color-black{color: #000; text-shadow: none;}

.intro-content{
	background: url(../images/bgs/media-right-bg-small.png) no-repeat 0 0;	
	margin-left: -10px;
	padding: 1px 10px 0 10px;
}

.intro-content .inner{
	padding: 17px 20px 20px;
	max-width: 6750px;
	font-style: italic;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjdmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmVhZWUiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(245,247,248,1) 0%, rgba(230,234,238,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,247,248,1)), color-stop(100%,rgba(230,234,238,0)));
background: -webkit-linear-gradient(left,  rgba(245,247,248,1) 0%,rgba(230,234,238,0) 100%);
background: -o-linear-gradient(left,  rgba(245,247,248,1) 0%,rgba(230,234,238,0) 100%);
background: -ms-linear-gradient(left,  rgba(245,247,248,1) 0%,rgba(230,234,238,0) 100%);
background: linear-gradient(to right,  rgba(245,247,248,1) 0%,rgba(230,234,238,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f8', endColorstr='#00e6eaee',GradientType=1 );

}
.head-logos{text-align: right; font-size: 20px; padding: 5px 0 10px; background-color: #fff; position: relative; z-index: 10;}
.head-logos ul{list-style: none; padding: 0; margin: 0; overflow: hidden;}
.head-logos ul li{display: inline; margin-left: 25px;}

.head-logos .holder{position: relative;}

.head-dots{
	background-image: url(../images/head-dots.png);
	height: 185px;
	width: 92px;
	display: block;
	position: absolute;
	top: -150px;
	left: 63px;
	z-index: 11;
}
.has-dots-top .section-inner{position: relative;}

/* =============================================================================
   Content
   ========================================================================== */     
.section{margin-bottom: 21px;}   
   
.with-media div.media{min-width: 455px;}
	 
.media.center{text-align: center;}   
   
.with-media .inner{max-width: 455px;}   

   
.content-left.with-media .inner{float: left;}
.content-left.with-media .media{float: right;}


.content-right.with-media .inner{float: right;}
.content-right.with-media .media{float: left;}

ul.centered.media{
	list-style: none;	
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}
	ul.centered.media li:first-child{margin-left: 0;}
	ul.centered.media li{
		display: inline;
		margin-left: 80px;	
	}
	

.absolute-holder{position: relative; width: 996px; margin: 0 auto;}	
	
/* =============================================================================
   Footer
   ========================================================================== */
#footer{font-size: 13px; color: #fff; background-image: url(../images/bgs/footer-flag.jpg); background-position: center 0; background-repeat: no-repeat;}


#ama{
	display:block;
	text-indent:-3000px;
	position:absolute;
	top:0;
	right:0;
	background-image:url(../images/ama.png);
	width:29px;
	height:17px;
}
.black-opacity{background: url(../images/bgs/black-opacity.png) repeat;}

#footer > div{padding: 30px 0;}

#footer ul{list-style: none; margin: 0; padding: 0; overflow: hidden;}
#footer ul li{width: 45%; float: left; margin: 0;}

#footer .black-opacity{min-height: 190px;}

/* =============================================================================
   media querys
   ========================================================================== */
#wrapper{overflow: hidden;}
/* #Tablet (Portrait)
   Note: Design for a width of 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.head-top{overflow: hidden;}
	#head .holder{margin-bottom: 0;}

	.intro-content .inner{max-width: 90%;}

.absolute-holder{position: relative; width: 100%; height: 1px;}
.absolute-img{width: 320px; top: -473px;}
.absolute-img img{max-width: 100%; height: auto;}

#head.has-absolute-img .call-us{margin-right: 160px;}
	.holder, .section .section-inner{width: 90%; margin: 0 auto 15px;}
	.medium-size, .medium-size700, .medium-size740, .medium-size800, .medium-size960{width: auto!important; padding-left: 15px; padding-right: 15px; max-width: 94%;}
	.section img{max-width: 45%; height: auto;}
	div.media{min-width: 45%;}
	.dots-snake{display: none;}
	.inner p{padding-bottom: 15px;}
	.inner{line-height: 22px;}
	.section ul{margin: 0 0 15px 0;}
	ul li{margin-bottom: 5px; margin-top: 5px;}
	.button{line-height: 52px;}
	#footer .black-opacity{min-height: 120px;}
	.head-dots{display: none;}
	.head-logos ul li{margin-left: 10px;}
}


@media only screen and (min-width: 768px) and (max-width: 919px) {
	.head-top{overflow: hidden;}
	#head .holder{margin-bottom: 0;}

	.intro-content .inner{max-width: 90%;}

.absolute-holder{position: relative; width: 100%; height: 1px; display: none;}
.absolute-img{width: 320px; top: -473px;}
.absolute-img img{max-width: 100%; height: auto;}

#head.has-absolute-img .call-us{margin-right: 160px;}
	.holder, .section .section-inner{width: 90%; margin: 0 auto 15px;}
	.medium-size, .medium-size700, .medium-size740, .medium-size800, .medium-size960{width: auto!important; padding-left: 15px; padding-right: 15px; max-width: 94%;}
	.section img{max-width: 45%; height: auto;}
	div.media{min-width: 45%;}
	.dots-snake{display: none;}
	.inner p{padding-bottom: 15px;}
	.inner{line-height: 22px;}
	.section ul{margin: 0 0 15px 0;}
	ul li{margin-bottom: 5px; margin-top: 5px;}
	.button{line-height: 52px;}
	#footer .black-opacity{min-height: 120px;}
	.head-dots{display: none;}
	.head-logos ul li{margin-left: 10px;}
}


/*  #Mobile (Portrait)
    Note: Design for a width of 320px
================================================== */
@media only screen and (max-width: 767px) {
html{font-size: 14px;}

.mobile-full-width .section-inner{width: 100%!important;}

.call-us{display: none;}

.head-mid .mobile-wrap{
	position: relative;
	z-index: 10;
	width: 100%;
	margin: 17px 0;
}
.head-mid span{font-size: 20px; line-height: 20px;}
.head-mid h1{text-align: left!important;}
.head-bot .semi-bold{display: none;}
.head-bot .holder{margin-bottom: 0;}
.head-logos{font-size: 18px;}

.head-logos ul{text-align: left;}
.head-logos ul li{margin-left: 0;}
.head-logos ul li img{height: auto; max-width: 80%!important;}

.intro-content .inner{padding: 10px 15px;}

.head-mid{position: relative;}
.head-mid .holder{position: relative; display: block;}
.head-mid .mobile{position: absolute; right: 0!important; bottom: 0!important;}

.head-dots,
.dots-down-section,
.dots-down,
.dots-arrow,
.dots-snake{display: none;}

.watch-vid, .more{padding-bottom: 0;}

.section h1, h1.large, h2.large{font-size: 31px; line-height: 33px; text-align: center!important;}


h3{font-size: 25px; line-height: 27px; text-align: center!important;}

p{margin-bottom: 15px;}
ul{margin: 0 0 15px;}

section:first-child .block-head h1{text-align: left!important;}

#main{width: 100%!important;}

	#head, #footer{
		width: 100%;	
	}
	.absolute-img{display: none;}
	.mobile{display: block; z-index: 0;}
	
	.holder{width: 90%; padding: 0 5%;}
	.section .section-inner{width: 90%; margin: 0 auto 15px;}
	
	#head-logo img,
	.section img{max-width: 100%; height: auto;}
	
	.media.has-bg.right,
	.media.has-bg.left, 
	.media.has-bg.small.right{background: none; padding: 0;}
	
	.full-left{margin-left: auto;}
	.full-right{margin-right: auto;}
	.media.right{margin-left: 0; float: none;}
	.media.left{margin-right: 0; float: none;}
	
	.pad-30{padding: 15px;}
	.medium-size, .medium-size700, .medium-size740, .medium-size800, .medium-size960{width: auto!important; padding-left: 15px; padding-right: 15px; max-width: 94%;}
	ul.centered.media li{display: block; margin: 0 auto 15px;}
	
	div.media{min-width: 100%;}
	.pad-60-b{padding-bottom: 15px;}
	
	.pad-60-t-b{padding-top: 15px; padding-bottom: 15px;}

	img.pad-30{padding: 0;}

	.medium-size .media.small{width: 100%; }

	.button, .button:visited{text-align: center; padding: 8px 0; display: block;}

	.button.big{margin-bottom: 0;}
	.pull-top{margin-top: auto;}
	
	.old-price{font-size: 18px;}
	.price{font-size: 25px;}
	
	
	#footer{line-height: 13px; }
	#footer ul li{float: none; width: 100%;}
	
	#footer.pull-up{margin-top: -15px;}
	#footer ul li:first-child{margin-bottom: 40px;}

	.inner{position: relative;}

	.mobile-absolute{
		position: absolute;	
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=30);
		-moz-opacity: 0.3;
		-khtml-opacity: 0.3;
		opacity: 0.3;
	}
	.bot-position{bottom: 0;}
	
	.bg-flag{
		background-image: url(../images/bgs/mobile-flag.png);
		background-repeat: repeat-x;	
	}
	.no-marg-bot{margin-bottom: 15px!important;}
	.media.left, .media.right{margin-bottom: 15px;}
	.head-mid{}
}

/* #Mobile (Landscape)
   Note: Design for a width of 480px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}


/* =============================================================================
   print
   ========================================================================== */

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	#head, #sidebar, #footer, button,
	.error, .alert, .notice, .success, .info, .button
	{ display:none !important; }
	#wrapper, #content{ width:auto !important; float:none !important; margin:0 !important; padding:0 !important;}
}