html{
	font: 16px/1.4em 'Open Sans', sans-serif;
	color:#000;
}

/* =============================================================================
   Links
   ========================================================================== */


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong, dfn { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666; }
pre { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 12px 'andale mono', 'lucida console', monospace; line-height: 1.5; }
em, dfn, blockquote, address { font-style: italic; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 0;}
p { margin: 0 0 1.5em; }
h1, .h1 { font-size: 39px; margin-top: 0; line-height: 45px; font-family: 'Oswald', sans-serif;}
h2, .h2 { font-size: 39px; margin-top: 0; line-height: 45px; font-family: 'Oswald', sans-serif;}
h3, .h3 { font-size: 31px; margin-top: 0; line-height: 39px; font-family: 'Oswald', sans-serif;}
h4, .h4 { font-size: 25px; margin: 0; font-family: 'Oswald', sans-serif; line-height: 27px; font-weight: 700;}
h5, .h5 { font-size: 20px; margin: 0; font-family: 'Oswald', sans-serif; font-weight: 700; margin: 0;}
h6, .h6 , .faq{ font-size: 16px; font-family: 'Oswald', sans-serif; font-weight: 700; display: inline; color: #001d4b; text-transform: uppercase;}


.color-red{color: #d01f22;}
.color-white{color: #fff;}
.color-red.dark{color: #b80000;}
.color-blue{color: #001d4b;}
.color-light-blue{color: #000086;}
.color-light-brown{color: #f6f3ec;}

.centered{margin: 0 auto; text-align: center; display: block;}
/*around paddings*/
.pad-30{padding: 30px;}  

/*top and bottom paddings*/
.pad-10-t-b{padding-top: 10px; padding-bottom: 10px;}
.pad-30-t-b{padding-top: 30px; padding-bottom: 30px;}
.pad-40-t-b{padding-top: 40px; padding-bottom: 40px;}
.pad-60-t-b{padding-top: 60px; padding-bottom: 60px;}

.pad-15-t{padding-top: 15px;}
.pad-40-t{padding-top: 40px;}
.pad-50-t{padding-top: 50px;}
.pad-60-t{padding-top: 60px;}

.pad-5-b{padding-bottom: 5px;}
.pad-10-b{padding-bottom: 10px;}
.pad-15-b{padding-bottom: 15px;}
.pad-30-b{padding-bottom: 30px;}
.pad-45-b{padding-bottom: 45px;}
.pad-60-b{padding-bottom: 60px;}
.pad-100-b{padding-bottom: 100px;}


/*left and right paddings*/
.pad-30-l-r{padding-left: 28px; padding-right: 28px;}
.pad-30-l{padding-left: 28px;}
.pad-30-r{padding-right: 28px;}

.no-pad-top{padding-top: 0!important;}
.no-pad-left{padding-left: 0!important;}
.no-pad-right{padding-right: 0!important;}
.no-pad-bot{padding-bottom: 0!important;}

.medium-size800{width: 800px; margin: 0 auto;}
.medium-size740{width: 740px; margin: 0 auto;}
.medium-size700{width: 700px; margin: 0 auto;}
.medium-size960{width: 960px; margin: 0 auto;}
.medium-size{width: 638px;margin: 0 auto;}

.no-marg-bot{margin-bottom: 0!important;}
.pull-top{margin-top: -30px;}


h1.large, h2.large{font-size: 48px; line-height: 52px;}
/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ul { list-style-image: url(../images/ul-img.png); padding-left: 15px; margin-top: 0;}

ul li:first-child{margin-top: 0;}
ul li{margin-top: 8px;}

ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
nav ul li, nav ol li { margin:0; padding:0; background:none; }
nav ul li a:hover { text-decoration:none; }
li ul, li ol { margin: 0; }
nav ul ul { margin-left:30px; }