form.quiz {
    margin-bottom:50px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
    border:2px solid black;
    box-shadow: #00175C 5px 5px 5px;
    padding:20px;
    background: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
form.quiz input[type=submit] {
    margin-top:50px;
}
form.quiz input[type=radio] {
    margin-left: 5px;
    margin-right: 10px;
}
#quiz-container {
    background-image: url(/media/images/temp/dsc0038-food-stockpile-2.jpg);
    background-size: 100%;
}
#start-quiz {
    border:2px solid #666666;
    padding:10px;
    margin:auto;
    margin-bottom:5px;
    width:150px;
    font-weight:bold;
    text-align:center;
}
div.user-choice {
    border:1px solid cornflowerblue;
    margin-bottom:5px;
    padding:3px;
}