<script>
	function flipTV() {
		tvBadges = document.getElementById("tvBadges");
		tvText = document.getElementById("tvText");
		if(tvBadges.style.visibility == "visible") {
			tvBadges.style.visibility = "hidden";
			tvBadges.style.display = "none";
			tvText.style.visibility = "visible";
			tvText.style.display = "block";
		} else {
			tvBadges.style.visibility = "visible";
			tvBadges.style.display = "block";
			tvText.style.visibility = "hidden";
			tvText.style.display = "none";			
		}
		
		
	}
</script>
<div class="tv">
	<div id="tvBadges" style="visibility: visible; display: block;">
		<?php if($templateDesign === "wp") { ?>
		<p><img src="/assets/images/video-lander/as-seen-advertised-on-01.png" class="img-responsive center-block" onclick="flipTV();"></p>
		<?php }else{ ?>
		<p><img src="/assets/images/video-lander/as-seen-advertised-on-01.jpg" class="img-responsive center-block" onclick="flipTV();"></p>
		<?php }?>
	</div>
	<div id="tvText" style="visibility: hidden; display: none;">
		<p style="margin:0px; "><span id="tvClose" class="glyphicon glyphicon glyphicon-remove" onclick="flipTV();"></span>
			Food4Patriots has been seen and advertised on 100's of websites (GlennBeck.com, <br>PersonalLiberty.com) and news outlets (TheBlaze, WND, etc) since it's launch in late 2013. For recent news stories, interviews and press releases about Food4Patriots, please visit our <a href="<?php echo url('/newsroom.php'); ?>" target="_blank">Newsroom</a>.
		</p>
	</div>
</div>
<div id="clear"></div>