<div id="checkout-references">
	<div>Research References</div>
	<p>1. <em>Harvard School of Public Health.</em> “Coffee By the Numbers.” 2010.<br>
	2. Fernau, <em>USA Today.</em> “Coffee Grinds Fuel for the Nation.” 2013.<br>
	3. National Coffee Association. “2014 National Coffee Drinking Trends.” 2014.<br>
	4. Nagourney, <em>The New York Times.</em> “Vital Signs: Aging; A Pick-Me-Up for Sagging Mental Acuity.” 2002.<br>
	5. Ferdman, <em>The Washington Post.</em> “Almost Half of the World Actually Prefers Instant Coffee.” 2014.<br>
	6. Baldwin, <em>The Atlantic.</em> “Arabica vs. Robusta: No Contest.” 2009.<br>
	7. Grush, <em>Fox News.</em> “Increasing Daily Coffee Consumption May Protect Against Type 2 Diabetes.” 2014.<br>
	8. Arnette, <em>The National Institutes of Health (NIH).</em> “Coffee May Boost Learning Potential.” 2012.<br>
	9. Kilmas, <em>The Blaze.</em> “Is Coffee Good or Bad for You?” 2014.</p>
</div>
