<div class="row">
	<div class="col-lg-12">
		<div class="panel-group" id="faqAccordion">
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseOne">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: Which dishes are included in each kit?
						</h4>
					</div>
				</a>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								1 week kit - 40 servings, may include:
								<ul class="fa-ul">
									<li><i class="fa-li fa fa-caret-right"></i>Traveler's Stew (4)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Honey Coated Banana Chips (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Country Cottage Mac &amp; Cheese (4)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Granny's Honestyle Potato Soup (4)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Blue Ribbon Creamy Chicken Rice (4)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Heartland's Best Mashed Potatoes (4)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Creamy Beef Stroganoff (4)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Maple Grove Oatmeal (8)</li>
								</ul>
								</br>
								4 week kit - 140 servings, may include:
								<ul class="fa-ul">
									<li><i class="fa-li fa fa-caret-right"></i>Blue Ribbon Creamy Chicken Rice (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Cheesy Broccoli &amp; Rice Soup (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Chocolate Pudding (10)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Heartland's Best Mashed Potatoes (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Honey Coated Banana Chips (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Instant White Rice (10)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Liberty Bell Potato Cheddar Soup (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Maple Grove Oatmeal (24)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Orange Energy Drink Mix (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Settler's Whey Powdered Milk (16)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Strawberry Fields Cream of Wheat (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Traveler's Stew (8)</li>
								</ul>
								</br>
								3 month kit - 450 servings, may include:
								<ul class="fa-ul">
									<li><i class="fa-li fa fa-caret-right"></i>Blue Ribbon Creamy Chicken Rice (24)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Cheesy Broccoli &amp; Rice Soup (16)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Chocolate Pudding (30)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Country Cottage Mac &amp; Cheese (16)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Creamy Beef Stroganoff (16)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Granny's Homestyle Potato Soup (24)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Heartland's Best Mashed Potatoes (32)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Honey Coated Banana Chips (16)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Independence Hall Chicken Noodle Soup (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Instant White Rice (20)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Liberty Bell Potato Cheddar Soup (20)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Maple Grove Oatmeal (56)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Orange Drink Energy Mix (32)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Settler's Whey Powdered Milk (48)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Strawberry Fields Cream of Wheat (32)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Summer's Best Corn Chowder (8)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Traditional Fettuccine Alfredo (20)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Traveler's Stew (24)</li>
									<li><i class="fa-li fa fa-caret-right"></i>Uncle Frank's Italian Lasagna (8)</li>
								</ul>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="row text-center">
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/banana-chips.jpg" width="200" height="133" alt="Mountain Man Granola">
										<div class="caption">Honey Coated <br>Banana Chips</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/lasagna.jpg" width="200" height="133" alt="Mountain Man Granola">
										<div class="caption">Uncle Frank's <br>Italian Lasagna</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/creamy-potato-soup.jpg" width="200" height="133" alt="Mountain Man Granola">
										<div class="caption">Granny's <span class="hidden-xs">Homestyle</span> Potato Soup</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/white-rice.jpg" width="200" height="133" alt="White Rice">
										<div class="caption">Instant White <br>Rice</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/whey-milk2.jpg" width="200" height="133" alt="Powdered Milk">
										<div class="caption">Whey Milk</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/chocolate-pudding.jpg" width="200" height="133" alt="Chocolate Pudding">
										<div class="caption">Chocolate <br>Pudding</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/corn-chowder.jpg" width="200" height="133" alt="Corn Chowder">
										<div class="caption">Summer's Best Corn <br>
											Chowder</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/strawberry-cream-of-wheat.jpg" width="200" height="133" alt="Creamy Chicken Alfredo">
										<div class="caption">Strawberry Fields <br>Cream of Wheat</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/heartland-mashed-potatoes.jpg" width="200" height="133" alt="Heartland's Best Mashed Potatoes">
										<div class="caption">Heartland's Best Mashed</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/travelers-stew.jpg" width="200" height="133" alt="Blue Ribbon Cheesy Chicken Rice">
										<div class="caption">Traveler's Stew</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/beef-stroganoff.jpg" width="200" height="133" alt="Creamy Beef Stroganoff">
										<div class="caption">Creamy Beef Stroganoff</div>
									</div>
									<div class="col-xs-6 col-md-6">
										<img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/potato-cheddar-soup.jpg" width="200" height="133" alt="Liberty Bell Potato Cheddar Soup">
										<div class="caption">Liberty Bell Potato Cheddar</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseTwo">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: How much food should I order?
						</h4>
					</div>
				</a>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<p>It’s recommended that most folks invest in at least one 3-month food kit. That’s a solid start to your food stockpile and it puts you in a good position to get through the most common disaster situations. In general, three servings of the various dishes constitute one meal. Remember, in a crisis, your Food4Patriots survival food will be worth more than gold—the security that comes from knowing that you can feed your kids and grandkids could be priceless in a time of stress. The 3-month kit allows you to take advantage of our lowest possible prices today — plus you’ll get a boatload of FREE Bonus Gifts.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseThree">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: What is the best way to store this food?
						</h4>
					</div>
				</a>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<p>We pack the 4-week and 3-month kits in sturdy plastic totes that are waterproof and stackable. They’re the  perfect solution for long-term storage. These low-profile totes can be stored covertly in your basement, garage, or even in a kitchen cabinet. The 4-week kit comes in a tote, which measures 18" long x 12.63" wide x 7.13" high. The 3-month kit comes in two totes that are each: 25.75" long x 18.37" wide x 7.13" high.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFour">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: How long will this food last?
						</h4>
					</div>
				</a>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
					<p>Because of the technology behind our advanced packaging methods, Food4Patriots survival food kits are guaranteed to have at least a 25-year shelf life. The fact is, stored properly, our food never really expires, but after 25 years the nutritional value will slowly start to decline.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFive">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: Where is this food made?
						</h4>
					</div>
				</a>
				<div id="collapseFive" class="panel-collapse collapse">
					<div class="panel-body">
					<p>Unlike some brands, Food4Patriots survival food is made in an FDA-approved and inspected facility in the United States. We always source non-GMO, U.S.-grown ingredients. In fact, our entire food production and packaging process happens right here in the good ole US of A!</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSix">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: What is so special about your packaging?
						</h4>
					</div>
				</a>
				<div id="collapseSix" class="panel-collapse collapse">
					<div class="panel-body">
						<p>As we mentioned earlier, our survival foods made using low-heat hydration. It takes a bit longer but it really preserves the flavor and nutrition, and is more affordable than freeze-dried food, which can be expensive. Our foods are then packaged in sturdy re-sealable Mylar pouches to protect against light, oxygen and moisture. Our foods are guaranteed to taste just as great 25 years from now as they do today.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSeven">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: How will this product be shipped to me and how quickly?
						</h4>
					</div>
				</a>
				<div id="collapseSeven" class="panel-collapse collapse">
					<div class="panel-body">
						<p>As of 01/25/2016, inventory is available and when you order today you will instantly receive an order confirmation by email. We anticipate being able to ship your order within 1-3 days. Our goal is to get your order out the door to you as quickly as possible!</p>
						<p>We will ship your order directly to your home or office using a premium carrier such as FedEx and you will have it within 7 to 14 days of shipment. Products are shipped from Utah, USA and we will send you a shipment notification email with tracking number as soon as your order ships so that you can track it right to your door.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseEight">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: How long will today's special pricing be available?
						</h4>
					</div>
				</a>
				<div id="collapseEight" class="panel-collapse collapse">
					<div class="panel-body">
						<p>We are unable to guarantee today’s pricing beyond today. Prices often change due to the constant price changes of the high-quality, made-in-the-USA ingredients. Also, the recent attempt by FEMA and DHS to hoard survival food may result in decreased supply throughout the market. To guarantee saving with our lowest pricing, be sure to secure your order today. Remember, Food4Patriots survival food is not sold in stores; it’s only available here.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseNine">
					<div class="panel-heading">
						<h4 class="panel-title">
							Q: What if this product doesn’t work for me?
						</h4>
					</div>
				</a>
				<div id="collapseNine" class="panel-collapse collapse">
					<div class="panel-body">
					<p>We honestly believe that Food4Patriots survival food is the top-rated product in the emergency food industry. Once your family tries it, you’ll know why we’re so proud of our products. However, if for any reason at all, you are not 100% satisfied with your Food4Patriots survival food, just return it within 365 days and we will refund 100% of your purchase price without question.</p>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>
