<div class="row">
	<div class="col-lg-12">
	  <div class="panel-group" id="faqAccordion">
		  <div class="panel panel-default">
			  <a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseTen">
				  <div class="panel-heading">
					  <h4 class="panel-title">
						  Q: Why is survival coffee better than what I can get at a big box store?
					  </h4>
				  </div>
			  </a>
			  <div id="collapseTen" class="panel-collapse collapse">
				  <div class="panel-body">
					  <p>A: Sure, you can buy and freeze bulk coffee, but it will only last you a couple months at best. Patriot Survival Coffee is rated for 25 years, meaning that it will keep fresh and tasty for decades.</p>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFour">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: What if I don’t drink coffee?
			  </h4>
			</div>
			</a>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					<p>A. Millions of people do, in a crisis with a shortage you might be the most popular person in town if you have a supply and are willing to share. Coffee can give you options when it seems there are none. Even if you won’t personally be drinking it, this can give you a great bartering tool.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFive">
			<div class="panel-heading">
				<h4 class="panel-title">
					Q: How is the Survival Coffee Kit packaged and how do I brew it?
				</h4>
			</div>
			</a>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<p>A. It’s pre-packaged and stored in handy single-serving mylar pouches rated for a 25 year shelf life.  Just open the pouch and remove the oxygen absorber. Use one teaspoon of coffee ground per 6 fluid ounce cup. Then simply add water, let it sit for a few minutes, and enjoy. The taste of Survival Coffee is so exceptional, you’ll believe it’s been made-to-order at your neighborhood coffee shop.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSix">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: What is your return policy and instructions?
			  </h4>
			</div>
			</a>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					<p>If for any reason you're dissatisfied at any time during the first 60 days after purchase, simply return the product and ask for a full refund. You'll get your money back. That's a firm promise and commitment. Please see<a href="<?php echo url('/returns.php'); ?>"> this page</a> for full return instructions.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSeven">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: How will this product be shipped to me and how quickly?
			  </h4>
			</div>
			</a>
			<div id="collapseSeven" class="panel-collapse collapse">
				<div class="panel-body">
					<p>As of <?php echo date("m/d/Y");?>, inventory is available and when you order now you will instantly receive an order confirmation email. We anticipate being able to ship your order within 1-3 days. Rest assured, we are working hard to get your order out the door to you as quickly as possible!</p>
					<p>We will ship your order directly to your home or office using a premium carrier such as FedEx and you will have it within 7 to 14 days of shipment. Products are shipped from Utah, USA and we will send you a shipment notification email with tracking number as soon as your order ships so that you can track it right to your door.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			  <a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseEight">
				  <div class="panel-heading">
					  <h4 class="panel-title">
						  Q: How long will today's special pricing be available?
					  </h4>
				  </div>
			  </a>
			  <div id="collapseEight" class="panel-collapse collapse">
				  <div class="panel-body">
					  <p>We are unable to guarantee today’s pricing beyond today. Our pricing often changes due to the constantly changing prices of the high-quality, made-in-the-USA ingredients. Also, the recent attempt by FEMA and DHS to hoard survival food may result in decreased supply throughout the market. To guarantee our lowest pricing, be sure to secure your order today.</p>
				  </div>
			  </div>
		  </div>
		</div>
	</div>
</div>
