
<div class="row">
	<div class="col-lg-12">
	  <div class="panel-group" id="faqAccordion">
		  <div class="panel panel-default">
			  <a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseTen">
				  <div class="panel-heading">
					  <h4 class="panel-title">
						  Q: Where is your food made?
					  </h4>
				  </div>
			  </a>
			  <div id="collapseTen" class="panel-collapse collapse">
				  <div class="panel-body">
					  <p>A: Our food is made in an FDA approved and inspected facility right here in the United States. We source US-grown ingredients and the entire food production process happens right here in the good ole US of A!</p>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFour">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: Any chemicals used in the drying process?
			  </h4>
			</div>
			</a>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					<p>A. No. If it's not in the ingredient list, it's not in there.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFive">
			<div class="panel-heading">
				<h4 class="panel-title">
					Q: What is the shelf life of Food4Patriots?
				</h4>
			</div>
			</a>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<p>A. Dehydrated food, stored properly (airtight and at room temperature or below) never really expires, but after 25 years the nutritional value will slowly start to decline. For that reason we guarantee a 25 year shelf life.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSix">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: What is your return policy and instructions?
			  </h4>
			</div>
			</a>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					<p>If for any reason you're dissatisfied at any time during the first 60 days after purchase, simply return the product and ask for a full refund. You'll get your money back. That's a firm promise and commitment. Please see <a href="/returns.php"> this page</a> for full return instructions.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSeven">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: How will this product be shipped to me and how quickly?
			  </h4>
			</div>
			</a>
			<div id="collapseSeven" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Due to very high demand, our warehouse is currently packing and shipping an extremely large number of shipments. <strong>As of 09/29/2015, inventory is available and when you order now you will instantly receive an order confirmation email.</strong> Our goal is to ship your order within the next 24-48 hours (weekends and holidays excluded). Rest assured, our warehouse staff will work hard to get your order out the door to you as quickly as possible!</p>
					<p>We will ship your order directly to your home or office using a premium carrier such as FedEx and you will have it within 7 to 14 days of shipment. Products are shipped from Utah, USA and we will send you a shipment notification email with tracking number as soon as your order ships so that you can track it right to your door.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			  <a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseEight">
				  <div class="panel-heading">
					  <h4 class="panel-title">
						  Q: How long will today's special pricing be available?
					  </h4>
				  </div>
			  </a>
			  <div id="collapseEight" class="panel-collapse collapse">
				  <div class="panel-body">
					  <p>We are unable to guarantee today’s pricing beyond today. Our pricing often changes due to the constantly changing prices of the high-quality, made-in-the-USA ingredients. Also, the recent attempt by FEMA and DHS to hoard survival food may result in decreased supply throughout the market. To guarantee our lowest pricing, be sure to secure your order today.</p>
				  </div>
			  </div>
		  </div>
		</div>
	</div>
</div>
