
<div class="row">
	<div class="col-lg-12">
	  <div class="panel-group" id="faqAccordion">
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseOne">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: What meals are included in each kit?
			  </h4>
			</div>
			</a>
			<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<strong>1 month kit - 140 servings, may include:</strong>
							<ul class="fa-ul">
								<li><i class="fa-li fa fa-caret-right"></i>Blue Ribbon Creamy Chicken Rice (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Cheesy Broccoli &amp; Rice Soup (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Chocolate Pudding (10)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Heartland's Best Mashed Potatoes (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Honey Coated Banana Chips (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Instant White Rice (10)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Liberty Bell Potato Cheddar Soup (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Maple Grove Oatmeal (24)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Oranage Energy Drink Mix (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Settler's Whey Powdered Milk (16)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Strawberry Fields Cream of Wheat (8)</li>
								<li><i class="fa-li fa fa-caret-right"></i>Traveler's Stew (8)</li>
							</ul>
						</br>
						<strong>2 month kit - 280 servings, may include:</strong>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-caret-right"></i>Blue Ribbon Creamy Chicken Rice (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Cheesy Broccoli &amp; Rice Soup (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Chocolate Pudding (20)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Heartland's Best Mashed Potatoes (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Honey Coated Banana Chips (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Instant White Rice (20)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Liberty Bell Potato Cheddar Soup (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Maple Grove Oatmeal (48)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Oranage Energy Drink Mix (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Settler's Whey Powdered Milk (32)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Strawberry Fields Cream of Wheat (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Traveler's Stew (16)</li>
						</ul>
						</br>
						<strong>3 month kit - 450 servings, may include:</strong>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-caret-right"></i>Blue Ribbon Creamy Chicken Rice (24)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Cheesy Broccoli &amp; Rice Soup (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Chocolate Pudding (30)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Country Cottage Mac &amp; Cheese (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Creamy Stroganoff (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Granny's Homestyle Potato Soup (24)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Heartland's Best Mashed Potatoes (32)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Honey Coated Banana Chips (16)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Independence Hall Chicken Noodle Soup (8)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Instant White Rice (20)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Liberty Bell Potato Cheddar Soup (20)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Maple Grove Oatmeal (56)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Orange Drink Energy Mix (32)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Settler's Whey Powdered Milk (48)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Strawberry Fields Cream of Wheat (32)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Summer's Best Corn Chowder (8)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Traditional Fettuccine Alfredo (20)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Traveler's Stew (24)</li>
							<li><i class="fa-li fa fa-caret-right"></i>Uncle Frank's Italian Lasagna (8)</li>
						  </ul>

						</div>
						<div class="col-sm-12 col-md-6">
							<div class="row text-center">
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/almond-coconut-granola.jpg" width="200" height="133" alt="Mountain Man Granola">
								  <div class="caption">Mountain Man Granola</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/apple-cinnamon-oatmeal.jpg" width="200" height="133"  alt="Mountain Man Granola">
								  <div class="caption">Apple Orchard Oatmeal</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/creamy-potato-soup.jpg" width="200" height="133"  alt="Mountain Man Granola">
								  <div class="caption">Granny's <span class="hidden-xs">Homestyle</span> Potato Soup</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/white-rice.jpg" width="200" height="133" alt="White Rice">
								  <div class="caption">Instant White <br>Rice</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/whey-milk2.jpg" width="200" height="133" alt="Powdered Milk">
								  <div class="caption">Whey Milk</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/chocolate-pudding.jpg" width="200" height="133" alt="Chocolate Pudding">
								  <div class="caption">Chocolate <br>Pudding</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/corn-chowder.jpg" width="200" height="133" alt="Corn Chowder">
								  <div class="caption">Summer's Best Corn <br>
									  Chowder</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/chicken-alfredo-pasta.jpg" width="200" height="133" alt="Creamy Chicken Alfredo">
								  <div class="caption"><span class="hidden-xs">Creamy</span> Chicken <br>Alfredo</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/heartland-mashed-potatoes.jpg" width="200" height="133" alt="Heartland's Best Mashed Potatoes">
								  <div class="caption">Heartland's Best Mashed</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/cheesy-chicken-rice-casserole.jpg" width="200" height="133" alt="Blue Ribbon Cheesy Chicken Rice">
								  <div class="caption">Blue Ribbon Cheesy Rice</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/beef-stroganoff.jpg" width="200" height="133"  alt="Creamy Stroganoff">
								  <div class="caption">Creamy Stroganoff</div>
							  </div>
							  <div class="col-xs-6 col-md-6">
								  <img class="img-responsive center-block thumbnail" src="/media/images/f4p/food/potato-cheddar-soup.jpg" width="200" height="133" alt="Liberty Bell Potato Cheddar Soup">
								  <div class="caption">Liberty Bell Potato Cheddar</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseTwo">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: How much food should I order?
			  </h4>
			</div>
			</a>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>We recommend that most folks shopping for survival food invest in at least one 3-month food kit. That’s a solid start to your food stockpile and puts you in a good position for the most common disaster situations. In a crisis, your food will be worth more than gold and the 3-month kit allow you to take advantage of our lowest possible prices today plus get a boatload of free bonus gifts.</p>
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseThree">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: What is the best way to store this food?
			  </h4>
			</div>
			</a>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>We pack the 1-month, 2 month, and 3-month kits in sturdy plastic totes that are waterproof, sturdy, and the perfect solution for long-term storage. All totes are designed to be able to stack nicely and can be stored covertly in your basement, garage, or conveniently in a kitchen cabinet. The 1-month kit comes in a tote which measures 18&quot; long x 12.63&quot; wide x 7.13&quot; high. The 3-month kit comes in two totes that are each: 25.75&quot; long x 18.37&quot; wide x 7.13&quot; high.</p>
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFour">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: How long will this food last?
			  </h4>
			</div>
			</a>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					<p>We guarantee a 25 year shelf life for your food. Our food, stored properly never really expires, but after 25 years the nutritional value will slowly start to decline.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseFive">
			<div class="panel-heading">
				<h4 class="panel-title">
					Q: Where is this food made?
				</h4>
			</div>
			</a>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Our food is made in an FDA approved and inspected facility right here in the United States. We source US-grown ingredients and the entire food production process happens right here in the good ole US of A!</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSix">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: How will this product be shipped to me and how quickly?
			  </h4>
			</div>
			</a>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					<p>As of <?php echo date("m/d/Y");?>, inventory is available and when you order now you will instantly receive an order confirmation email. We anticipate being able to ship your order within 5-7 days. Rest assured, we are working hard to get your order out the door to you as quickly as possible!</p>
					<p>We will ship your order directly to your home or office using a premium carrier such as FedEx and you will have it within 7 to 14 days of shipment. Products are shipped from Utah, USA and we will send you a shipment notification email with tracking number as soon as your order ships so that you can track it right to your door.</p>

					<!--  <p>We will ship your order directly to your home or office using a premium carrier such as Fed Ex and you will have it within 5 to 7 business days.  Our goal is to ship all orders within 1 business day. Products are shipped from Utah, USA and you will receive an order confirmation email plus a shipment notification email with tracking number once your order ships.</p> -->
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseSeven">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: How long will today's special pricing be available?
			  </h4>
			</div>
			</a>
			<div id="collapseSeven" class="panel-collapse collapse">
				<div class="panel-body">
					<p>We are unable to guarantee today’s pricing beyond today. Our pricing often changes due to the constantly changing prices of the high-quality, made-in-the-USA ingredients. Also, the recent attempt by FEMA and DHS to hoard survival food may result in decreased supply throughout the market. To guarantee our lowest pricing, be sure to secure your order today.</p>
				</div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#faqAccordion" href="#collapseEight">
			<div class="panel-heading">
			  <h4 class="panel-title">
				  Q: What if this product doesn’t work for me?
			  </h4>
			</div>
			</a>
			<div id="collapseEight" class="panel-collapse collapse">
				<div class="panel-body">
					<p>While we feel that Food4Patriots is the top-rated product in the emergency food industry, if for any reason at all you are unsatisfied with your purchase, just let us know within 60 days and we will refund 100% of your purchase without question. Plus you are protected with our unprecedented 300% money back guarantee if any of your food goes bad in the next 25 years.</p>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>
