
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <div class="panel-heading">
              <h4 class="panel-title">       
                  Q: What is the Patriot Power Generator 1500?         
              </h4>
            </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                A: The Patriot Power Generator is a portable solar generator that will provide electricity to a variety of critical devices and equipment in the event of a power outage.  The Patriot Power Generator contains a Lithium Ion battery that is rated for 1000+ life cycles and holds a charge for up to 6 months, is virtually silent and has no emissions.  The Patriot Power Generator is portable and small enough to take virtually anywhere.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <div class="panel-heading">
              <h4 class="panel-title">       
                  Q: What is included with my Patriot Power Generator?         
              </h4>
            </div>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                A: Your new Patriot Power Generator 1500 will come with the generator unit, a 100-watt foldable solar panel to charge your unit and a 25-foot extension cord for ease of placing the solar panel outside while the generator is inside.  It also comes with a multitude of bonus items including a Survival Essentials Kit (72-hour emergency food supply, 11-in-1 survival tool and a LifeStraw for purifying water), a deck of playing cards listing 52 ways to Save Power, and four hard-copy reports titled Your Complete Power Failure Preparation Checklist, Hidden Dangers of the Smart Grid, Top 7 Reasons the Power Grid Will Fail, and The Blackout Response Guide.  The Patriot Power Generator ships FREE to anywhere in the contiguous 48 states.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <div class="panel-heading">
              <h4 class="panel-title">             
                  Q: What can I run on my Patriot Power Generator?              
              </h4>
            </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>The Patriot Power Generator has a unique Sine Inverter which powers two 120V AC outlets, four USB outlets, one 12V DC cigarette lighter outlet and one 12V DC Anderson outlet.  Here are some examples of what you can run using these outlets:</p>
                <ul>
                  <li>Power your 5 cubic foot freezer indefinitely, so you can have a long-lasting supply of food that&rsquo;s safe to eat.  Not to mention, use it to power your slow cooker, toaster oven and even your coffee maker.</li>
                  <li>Power enough lights for safety and comfort.</li>
                  <li>Recharge your cell phones, computers, tablets and radios so you can communicate with friends and family and stay informed.</li>
                  <li>Power critical home medical devices, such as portable oxygen equipment, infusion pumps, CPAP machines, mobility devices and monitoring equipment.</li>
                  <li>Power an electric blanket so you stay warm at night.</li>
                  <li>And so much more!</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <div class="panel-heading">
              <h4 class="panel-title">
                  Q: How long will my Patriot Power Generator keep me protected?               
              </h4>
            </div>
            </a>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>A: The generator will last for 1000+ life cycles and will retain its charge for up to 6 months with only a 20% loss.</p>
</div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <div class="panel-heading">
              <h4 class="panel-title">
                  Q: How will this product be shipped to me and how quickly?             
              </h4>
            </div>
            </a>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>A: Your Patriot Power Generator will come shipped to you in a total of four packages via UPS Ground Delivery.  One box will contain the generator itself, one will contain the foldable solar panel, one will have the 25-foot extension cord that connects the solar panel to the generator, and one will contain all of your bonus items.  All of these packages will come to you from our two USA based warehouses and we expect them to reach your door within 7-10 business days of you placing your order.  Please note that <em><strong>signature delivery is required</strong></em> for this product.</p>
</div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            <div class="panel-heading">
              <h4 class="panel-title">
                  Q: How long will today’s special pricing be available?               
              </h4>
            </div>
            </a>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>A: We are unable to guarantee today&rsquo;s pricing beyond today.  Our pricing frequently changes due to the constantly changing shipping regulations and government red tape.  Also, with recent disasters such as Hurricane Sandy, owning a personal generator is increasingly popular which may result in decreased supply throughout the market.  To guarantee our lowest pricing, be sure to secure your order today.</p>
</div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            <div class="panel-heading">
              <h4 class="panel-title">
                  Q: What if this product doesn’t work for me?              
              </h4>
            </div>
            </a>
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                <p>A: While we feel that the Patriot Power Generator is the top-rated product in the industry, if for any reason at all you are dissatisfied just let us know within 365 days and we will arrange for you to return it for a 100% refund. </p>
</div>
            </div>
          </div>
        </div>
    </div>
  </div>
