<p><strong>Congratulations</strong> - you've made a wise decision with your order of my Survival Coffee. You’ve made a valuable investment in the safety and well being of yourself and your loved ones.</p>
<p>I am grateful that I can now count you among the select group of us who are taking the necessary steps of protecting our families by being prepared and having a plan in place.</p>
<p>I’d like to formally welcome you to the 4 Patriots community and I look forward to continually helping you and your family be better prepared... just in case.</p>
<p><img src="/media/images/frank/franksig.jpg" width="140" height="23" alt=""/><br>
</p>