<p><strong>Pat yourself on the back, Patriot!</strong> - You have a solid start to your survival food stockpile with your order of the Fruit, Veggie and Snack Mix. You’re ensuring that you and your loved ones get the vital nutrition needed in a crisis – deliciously!</p>
<p>I’d also like to take this opportunity to welcome you to the 4Patriots family. You’re joining a special group of smart and patriotic folks who aren’t waiting for the government to come bail them out – no sir! Like all of us at 4Patriots, you’re protecting your family by having a plan in place.</p>
<p>If you need help or have questions, please call our friendly customer service team at<br class="hidden-sm"> 1-800-728-0008 or email us at
	<script type="text/javascript">
		emailE=('help@' + 'food4patriots.com');
		document.write(
				'<A class="ignore-gray-out" href="mailto:' + emailE + '">'
				+ emailE + '</a>'
		)
	</script></p>
<p>I’ll be sending you updates on the best information and tools for being self-reliant from here on out… just in case.</p>
<p>To your survival,</p>
<p><img src="/media/images/frank/franksig.jpg" width="140" height="23" alt=""/><br></p>