<div class="adobeReaderBox">
	<h2 class="darkRed">If You Need To Download PDF Reader</h2>
	
	<p>You must have Adobe Acrobat PDF Reader (version 5.0 &amp; up) to view the ebook PDF file and the bonuses. If you don't have the 
		latest Adobe Acrobat PDF Reader left click here to get it. </p>
		
	<p><a href="https://adobe.com/reader" target="_blank"><img src="/media/images/misc/Adobe_Acrobat_Icon.jpg" alt="Adobe"style="width:75px;" />
		Get Adobe Acrobat PDF Reader FREE</a></p>
	<p>Note - clicking the links above will open a NEW page in your browser so you don't lose this download page.<br />
<br />
	<h2 class="darkRed">If You Need Help Downloading The PDF Bonus Files</h2>
	<p>How To Download: Click each of the links next to the manual to download that manual: Right click, then select &quot;Save Target As&quot;
		(or &quot;Save Link As&quot;).</p>
		
	<p style="text-align:center;"><img src="/media/images/misc/menu.gif" alt="Menu" width="151" height="202" /></p>
	
	<p>Once you select the &quot;save target as&quot; or &quot;save link as&quot;, a download screen will appear asking you where you 
		want to save the file to on your computer.</p>
		
	<p style="text-align:center;"><span class="small1">(The download screen will appear like this...)</span><br />
		<img src="/media/images/misc/saving.gif" alt="Save" width="421" height="259" /></p>

	<p>Save the file to your &quot;Desktop&quot; or another folder you can easily find.</p>
	
	<p>Once you have downloaded the file, go to your desktop or the folder you saved it to and double click the file to open it.</p>
</div>