<div style="color: #767676; font-style: normal;">
  <p>Research References</p>
  <p style="font-size: 12px;">1. Nabham, <em>The New York Times.</em> &ldquo;Our Coming Food Crisis.&rdquo; 2013<br>
    2. Bello, <em>USA Today</em>. &ldquo;Food Banks Run Short As Federal Government Hands Out Less.&rdquo; 2012.<br>
    3. Corbo, <em>Food &amp; Water Watch</em>. &ldquo;USDA: Start Telling the Truth About Inspector Shortages.&rdquo; 2014.<br>
    4. Munshi, <em>Financial Times</em>. &ldquo;U.S. Food Shortages Loom Amid Budget Cuts.&rdquo; 2013.<br>
    5. <em>Federal Emergency Management Agency (FEMA).</em> &ldquo;Are You Ready Guide.&rdquo; 2014.<br>
    6. Watson, <em>Info Wars</em>. &ldquo;FEMA Demanding 24 Hour Delivery of Emergency Food Reserves.&rdquo; 2013.<br>
    7. Butler, <em>The Guardian</em>. &ldquo;Hunger is a &lsquo;National Crisis&rsquo;, Religious Leaders Tell Cameron.&rdquo; 2014.<br>
    8. <em>World Net Daily (WND)</em>. &ldquo;Government Cover-Up of Food Shortage Feared.&rdquo; 2010.<br>
    9. Slavo, <em>SHTF Plan</em>. &ldquo;Report: Disaster Looms – FEMA Scrambles to Stockpile Food Reserves.&rdquo; 2013.<br>
    10. Dapice, <em>Yale Global</em>. &ldquo;The Looming Food Crisis.&rdquo; 2011.<br>
    11. Leaning, M.D.; Guha-Sapir, Ph.D., <em>The New England Journal of Medicine.</em> &ldquo;Natural Disasters, Armed Conflict, and Public Health.&rdquo; 2013.<br>
    12. Faiola, <em>The Washington Post</em>. &ldquo;The New Economics of Hunger.&rdquo; 2008.<br>
    13. Sheldrick, <em>Sunday Express</em>. &ldquo;Global Food Crisis Set to Send Prices of Household Staples Soaring Over Next Five Years.&rdquo; 2013.<br>
    14. Wilkie, Hines, Chun, <em>The Huffington Post.</em> &ldquo;Hurricane Sandy Disrupts Food Distribution, &lsquo;Thousands of Trucks&rsquo; in Limbo.&rdquo; 2013.<br>
    15. Hughes, <em>Info Please</em>. &ldquo;Global Food Crisis.&rdquo; 2007<br>
    16<em>. Reuters.</em> &ldquo;What Creates Food Crises?&rdquo; 2013.<br>
    17. Synder, <em>The Economic Collapse Blog</em>. &ldquo;20 Signs That a Horrific Global Food Crisis is Coming.&rdquo; 2011.<br>
    18. Martin, Geewax, <em>National Public Radio (NPR)</em>. &ldquo;Skyrocketing Prices Point to Looming Global Food Crisis.&rdquo; 2011.<br>
    19. Pentland, <em>Forbes</em>. &ldquo;The Coming Food Crisis: Blame Ethanol?&rdquo; 2012.</p>
</div>