<div style="color: #767676; font-style: normal;">
  <p>Research References</p>
  <p style="font-size: 12px;">1. <em>Fox News Insider</em>. &ldquo;Our Death Toll Would Be Staggering.&rdquo; 2014<br>
    2. Kreft, <em>The Blaze</em>. &ldquo;Chilling: Why An Underreported, &lsquo;Significant Incident of Domestic Terrorism&rsquo; Might Not Be a Failed Attack at All.&rdquo; 2014.<br>
    3. Corbo, <em>Food &amp; Water Watch</em>. &ldquo;USDA: Start Telling the Truth About Inspector Shortages.&rdquo; 2014.<br>
    4. <em>Fox News</em>. &ldquo;Threat to the Grid? Details Emerge of Sniper Attack on Power Station.&rdquo; 2014.<br>
    5<em>. National Geographic</em>. “American Blackout.” 2013.<br>
    6. Tollefson, <em>Scientific American</em>. &ldquo;U.S. Electrical Grid on the Edge of Failure.&rdquo; 2013.<br>
    7. Restuccia, <em>Politico.com</em>. &ldquo;Report: Grid Vulnerable to Attacks.&rdquo; 2013.<br>
    8. Finkle, <em>Reuters</em>. &ldquo;U.S. Utility&rsquo;s Control System Was Hacked, Says Homeland Security.&rdquo; 2014.<br>
    9. <em>Fox News</em>. &ldquo;DOJ Brings First-Ever Cyber-Espionage Case Against Chinese Officials.&rdquo; 2014.<br>
    10. Woodrow Wilson Center, Wilson Forum (YouTube.com). &ldquo;From Cyber to Immigration, Terrorism to Disasters: Securing America in the Next Administration.&rdquo; <br>
    11. Marchant, <em>Wall Street Examiner</em>. &ldquo;Obama&rsquo;s War on Coal Attacks All of Us.&rdquo; 2013.<br>
    12. <em>Infrastructure Report Card</em>. &ldquo;2013 Report Card for America&rsquo;s Infrastructure.&rdquo; 2013.<br>
    13. <em>CBS News</em>. &ldquo;NYC Utility Cuts Power to More Households in Sandy's Aftermath.&rdquo; 2012.<br>
    14. Goreham, <em>Daily Caller</em>. &ldquo;America&rsquo;s Power Grid at the Limit: The Road to Electrical Blackouts.&rdquo; 2014.<br>
    15.Moore, <em>ExecutiveGov.com</em>. “NY Congresswoman: 100 Percent Chance of Cyber Attack Against Power Grid.” 2010.<br>
    16<em>. </em><em>WND.com</em>. &ldquo;Allen West: Power Plant Attack a 'Dry Run'.&rdquo; 2014.</p>
</div>