<script type="text/javascript" src="/js/jquery.hellogoodbye.js"></script>
<!-- Demo script -->
<script type="text/javascript">
  $(document).ready(function(){

    $('.banner_modal').helloGoodbye({
      name: "banner_modal",
      stepClass: 'banner',
      onPageExit: true
    });

    $('.reset').click(function(){
      $('.banner_modal').helloGoodbye('reset');
    })

  });
</script>
<style>
  /*
Instruction background
*/
  .instruction {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    /* Animation default state */
    opacity: 0;
    left: 100%;
    /* Animation */
    transition-property: left, opacity;
    transition-duration: 0, 0.3s;
    transition-delay: 0.3s, 0;
  }

  .instruction.visible {
    transition-delay: 0;
    left: 0;
    opacity: 1;
  }

  /*
  Single step
  */
  .step {
    width: 190px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 30px;
    overflow: hidden;
    /* Animation default state */
    margin-left: -99999px;
    opacity: 0;
    transform: translate3d(0,-40px,0) scale(0.9);
    /* Animation */
    transition-property: margin-left, opacity, transform;
    transition-duration: 0, 0.3s, 0.3s;
    transition-delay: 0.3s, 0, 0;
  }

  .step.visible {
    transition-delay: 0;
    margin-left: 0;
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }

  /*
  Step elements
  */
  .step h2 {
    color: #f44a4c;
    font-size: 15px;
    font-weight: 400;
  }

  .step p {
    font-size: 12px;
    color: #5a5a5a;
    margin-top: 20px;
    line-height: 20px;
  }

  /*
  Next, prev and close
  */
  .step .close,
  .step .next,
  .step .prev {
    font-size: 10px;
    color: #272727;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
  }

  .step .close:hover,
  .step .next:hover,
  .step .prev:hover {
    opacity: 1;
  }

  .step .close {
    right: 10px;
    top: 10px;
  }

  .step .next {
    top: 50%;
    right: 10px;
    margin-top: -6px;
  }

  .step .prev {
    top: 50%;
    left: 10px;
    margin-top: -6px;
  }

  .banner_modal {
    /* Size and position */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /* Background and effects */
    background: rgba(0,0,0,0.75);
    perspective: 1000px;
    /* Animation default state */
    left: 100%;
    opacity: 0;
    /* Animation */
    transition-property: left, opacity;
    transition-duration: 0, 0.3s;
    transition-delay: 0.3s, 0;
    z-index: 1001;
  }

  /*
  Modal background visible state
  */
  .banner_modal.visible {
    transition-delay: 0;
    left: 0;
    opacity: 1;
  }

  /*
  Modal
  */
  .banner {
    width: 900px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* Animation default state */
    transform: scale(0.4) rotateX(45deg);
    /* Animation */
    transition: all 0.3s;
    z-index: 1001;
  }

  .banner.visible {
    transform: scale(1) rotateX(0deg);
  }

  /*
  Close button
  */
  .banner .close {
    width: 24px;
    height: 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #3b5998;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: 1px;
    cursor: pointer;
    color: #272727;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    opacity: .8;
  }
  .register {
    position: absolute;
    top: 12px;
    cursor: pointer;
    /* Animation default state */
    right: -99999px;
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    /* Animation */
    transition-property: right, opacity, transform;
    transition-duration: 0, 0.3s, 0.3s;
    transition-delay: 0.3s, 0, 0;
  }

  /*
  Register visible state
  */
  .register.visible {
    transition-delay: 0;
    right: 0;
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  #console {
    max-height:600px
  }
  #bkd {
    top: 0px !important;
    position: absolute !important;
    left: 0px;
    width: 900px;
    height: 600px;
    background:url(/assets/images/modal-exit/bkd.jpg)
  }

  #green_button {
    top: 337px !important;
    position: absolute !important;
    left: 79px;
    width: 368px;
    height: 263px;
    background:url(/assets/images/modal-exit/green.png);
    margin: 0 px !important

  }

  #offer_image {
    top: 337px !important;
    position: absolute !important;
    left: 469px;
    width: 368px;
    height: 263px;
    background:url(/assets/images/modal-exit/red.png);
    margin: 0 px !important
  }


  #offer_image_selected {
    top: 337px !important;
    position: absolute !important;
    left: 79px;
    width: 368px;
    height: 263px;
    background:url(/assets/images/modal-exit/pop.png);
    margin: 0 px !important

  }


  #console #offer_image, #console:hover #offer_image_selected {
    display:block;
  }
  #console:hover #green_button, #console #offer_image_selected {
    display:none;
  }
</style>
<!-- Modal with AD -->
<div class="banner_modal">
  <div class="banner">
    <div id="console" >
      <div id="bkd"></div>
      <a href="/letter/index.php" id="green_button"></a>
      <a href="/checkout/alt/f4p-free-food-offer.php" id="offer_image"></a>
      <a href="/letter/index.php" id="offer_image_selected"></a>
    </div>

    <div class="close">
      <i class="fa fa-times-circle fa-2x"></i>
    </div>
  </div>
</div>